CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt76x8=y
CONFIG_TARGET_ramips_mt76x8_DEVICE_glinet_gl-mt300n-v2=y
CONFIG_LIBSODIUM_MINIMAL=y
CONFIG_PACKAGE_boost=y
CONFIG_PACKAGE_boost-date_time=y
CONFIG_PACKAGE_boost-program_options=y
CONFIG_PACKAGE_boost-system=y
CONFIG_PACKAGE_fdisk=m
CONFIG_PACKAGE_ipt2socks=y
CONFIG_PACKAGE_libblkid=m
CONFIG_PACKAGE_libev=y
CONFIG_PACKAGE_libfdisk=m
CONFIG_PACKAGE_libmbedtls=y
CONFIG_PACKAGE_libncurses=m
CONFIG_PACKAGE_libsmartcols=m
CONFIG_PACKAGE_libsodium=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y
# CONFIG_PACKAGE_luci-app-webadmin is not set
CONFIG_PACKAGE_shadowsocks-libev-ss-local=y
CONFIG_PACKAGE_shadowsocks-libev-ss-redir=y
CONFIG_PACKAGE_simple-obfs=y
CONFIG_PACKAGE_terminfo=m
CONFIG_PACKAGE_trojan=y
CONFIG_boost-compile-visibility-hidden=y
CONFIG_boost-runtime-shared=y
CONFIG_boost-static-and-shared-libs=y
CONFIG_boost-variant-release=y
